/***** Helper class *****/
.display__inline-flex {
  display: inline-flex;
}

.flex-1 {
  flex: 1;
}

.mt24 {
  margin-top: 24px !important;
}

.ml84 {
  margin-left: 84px !important;
}

.divider__light {
  background-color: aqua !important;
}

.inline-flex {
  display: inline-flex;
}

.align-items__center {
  align-items: center;
}

.justify-content__center {
  justify-content: center;
}

/***** Custom classes *****/
.header {
  background-color: #0D226B !important;
}

.logo {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo img {
  width: 200px;
}

.tabs > div > span {
  background-color: aqua !important;
}

.tabs.tabs__verical > div > span {
  background-color: transparent !important;
}

.tabs a:hover {
  color: aqua !important;
}

.create-bet {
  margin: 32px auto;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.create-bet__alert {
  margin: 0 auto;
  width: 50%;
}

.create-bet__stake {
  margin-right: 0 !important;
}

.create-bet__currency {
  margin: 8px 8px 8px 0;
}

.bet-summary__wrapper {
  display: flex;
  justify-content: stretch;
}

.bet-summary__tabs span:first-child {
  align-items: flex-start !important;
}

.bet-summary__tabs.Mui-selected {
  color: #0D226B !important;
  font-weight: 600;
  background-color: #F2F7FF !important;
}

.bet-summary {
  margin: 0 !important;
  background-color: #0B409C !important;
  color: white !important;
  opacity: 1 !important;
}

.bet-summary__header {
  border-bottom: 1px solid white !important;
}

.bet-summary .start-time {
  width: 10%;
}

.bet-summary .results {
  width: 5%;
}

.bet-summary .teams {
  width: 45%;
}

.bet-summary .stake {
  width: 10%;
}

.bet-summary .actions {
  width: 30%;
}

.bet-summary .actions button {
  background-color: white;
  margin-right: 2rem;
}

.bet-summary .actions button:last-child {
  margin-right: 0;
}

.bet-details {
  background-color: #f0f0ff;
}

.bet-details .organiser {
  width: 100%;
  display: flex;
  align-items: center;
}

.bet-details .organiser .vote-button {
  background-color: white;
  margin-left: 1.5rem;
}

.bet-details .results-form {
  display: flex;
  align-items: flex-start;
}

.bet-details .results-form .save-results-button {
  background-color: white;
  margin-left: 1.5rem;
}
