/***** Helper class *****/
.display__inline-flex {
  display: inline-flex;
}

.flex-1 {
  flex: 1;
}

.inline-flex {
  display: inline-flex;
}

.align-items__center {
  align-items: center;
}

.justify-content__center {
  justify-content: center;
}

.justify-content__flex-end {
  justify-content: flex-end;
}

.p16 {
  padding: 16px;
}

.ml8 {
  margin-left: 8px;
}

.mt24 {
  margin-top: 24px !important;
}

.mt84 {
  margin-top: 84px !important;
}

.ml84 {
  margin-left: 84px !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.divider__light {
  background-color: aqua !important;
}

.ls-1 {
  letter-spacing: 1px !important;
}

.visibility__hidden {
  visibility: hidden;
}

/***** Container *****/
.container {
  position: relative;
  min-height: 100vh;
  padding-bottom: 198px !important;
}

/***** Header *****/
.header {
  background-color: #0D226B !important;
  height: 108px !important;
}

/***** Footer *****/
.footer {
  text-align: center;
  background-color: #0D226B;
  color: aqua;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
}

.footer__divider {
  background-color: aqua !important;
  margin: 18px auto !important;
  width: 15% !important;
}

.footer .logo img {
 width: 150px;
}

.footer a {
  font-weight: 600 !important;
}


/***** Logo *****/
.logo {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo img {
  width: 200px;
}

/***** Pagination *****/
.pagination {
  margin: 24px auto 0 !important;
  width: fit-content;
}

.pagination ul {
  width: fit-content;
}

/***** Alert *****/
.alert {
  margin: 0 auto;
  width: 100%;
}

/***** Tabs *****/
.tabs > div > span {
  background-color: aqua !important;
}

.tabs.tabs__verical > div > span {
  background-color: transparent !important;
}

.tabs a:hover {
  color: aqua !important;
}

/***** Overlay *****/
.overlay {
  background-color: rgb(242, 247, 255, 0.5) !important;
}

.overlay .sk-spinner {
  color: #0B409C;
}

/***** Loading *****/
.loading {
  display: flex;
  flex: 1;
  justify-content: center;
}

.loading .sk-spinner {
  text-align: center;
  color: #0B409C;
}

.loading.account {
  align-items: center;
  height: 100vh;
}

.loading .MuiSkeleton-text {
  transform: scale(1, 0.90) !important;
}

.loading .sk-fade-in {
  animation: sk-fade-in .5s;
}

/***** Button *****/
.button {
  display: flex;
  background-color: hsl(218, 87%, 33%) !important;
  color: white !important;
  border-radius: 4px;
}

.button:hover {
  color: #F2F7FF;
  opacity: .9;
}

.button.reload {
  color: aqua;
  margin: 0 auto;
  padding: 13px 32px;
  width: fit-content !important;
}

/***** Create Bet *****/
.create-bet {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.create-bet__content {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.create-bet__form {
  margin: 32px 0;
  display: flex;
  flex-direction: column;
}

.create-bet__img {
  width: 350px;
}

.create-bet__stake {
  margin-right: 0 !important;
}

.create-bet__currency {
  margin: 8px 8px 8px 0;
  padding-top: 16px;
}

.create-bet__currency svg {
  margin-top: 8px;
}

.create-bet__button {
  width: 100% !important;
}

/***** Bet Summary *****/
.bet-summary__wrapper {
  display: flex;
  justify-content: stretch;
  min-height: calc(100vh - 258px);
}

.bet-summary__tabs-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bet-summary__tabs-wrap img {
  width: 140px;
}

.bet-summary__content {
  padding: 0 16px;
  display: flex;
  justify-content: center;
  flex: 1;
}

.bet-summary__tabs span:first-child {
  align-items: flex-start !important;
}

.bet-summary__tabs.Mui-selected {
  color: #0D226B !important;
  font-weight: 600;
  background-color: #F2F7FF !important;
}

.bet-summary {
  margin: 0 !important;
  background-color: #0B409C !important;
  color: white !important;
  opacity: 1 !important;
}

.bet-summary__header {
  border-bottom: 1px solid white !important;
}

.bet-summary .start-time {
  width: 10%;
}

.bet-summary .results {
  width: 5%;
}

.bet-summary .teams {
  width: 40%;
}

.bet-summary .stake {
  width: 10%;
}

.bet-summary .actions {
  width: 35%;
}

.bet-summary .actions button {
  background-color: white;
  color: #0D226B;
  font-weight: 600;
  margin-right: 2rem;
  width: 135px;
  height: 54px;
}

.bet-summary .actions button:disabled {
  color: rgb(13, 34, 107, 0.6);
  background-color: #F2F7FF;
}

.bet-summary .actions button.bet-on {
  background-color: aqua !important;
  color: #0B409C !important;
}

.bet-summary .actions button:last-child {
  margin-right: 0;
}

.bet-summary__no-data {
  align-items: center;
  display: flex;  
  flex-direction: column;
}

.bet-summary__no-data img {
  width: 150px;
  margin-bottom: 16px;
  margin-top: 48px;
}

.bet-summary__no-data p {
  color: #0D226B;
}

/***** Bet Details *****/
.bet-details {
  background-color: #f0f0ff;
}

.bet-details .organiser {
  width: 100%;
  display: flex;
  align-items: center;
}

.bet-details .organiser .vote-button {
  background-color: white;
  margin-left: 1.5rem;
  color: #0D226B;
}

.bet-details .results-form {
  display: flex;
  align-items: flex-start;
}

.bet-details .results-form .save-results-button {
  background-color: white;
  margin-left: 1.5rem;
  color: #0D226B;
}

/***** Organisers *****/
.organisers {
  min-width: 650px;
}

.organisers thead {
  background-color: #0B409C !important;
}

.organisers thead th {
  color: white !important;
}

.organisers tbody {
  background-color: #F2F7FF !important;
}

.table__rate {
  display: flex !important;
  align-items: center;
}

/***** Account Not Connected *****/
.account-not-connected {
  display: flex;
  justify-content: stretch;
  align-items: center;
  height: 100vh;
}

.account-not-connected img {
  display: flex;
  width: 50%;
}

/***** Page Not Found *****/
.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found img {
  width: 450px;
  margin-top: 84px;
  margin-bottom: 32px;
}

.not-found a {
  background-color: #2F2E41 !important;
  padding: 13px 32px;
  width: fit-content !important;
}
